[Unit]
Description=My Application Service
After=network.target

[Service]
ExecStart=/usr/bin/node /opt/index.js
WorkingDirectory=/opt

[Install]
WantedBy=multi-user.target